body {
  background-color: #002b36;
  height: 100%;
  width: 100%;
}

hr {
  color: #2aa198;
}

h1 {
  color: #859900;
  text-align: center;
  font-family: monospace;
  font-size: 40px;
}

h2 {
  color: #b58900;
  text-align: left;
  font-family: monospace;
  font-size: 24px;
}

p {
  font-family: monospace;
  font-size: 20px;
  color: #93a1a1;
}

a {
  font-family: monospace;
  font-size: 18px;
  color: #d33682;
}

.contact {
  color: #93a1a1;
  text-align: center;
  font-size: 15px;
}
